$primary: #e6dfdf;
$secondary: #37b667;
$pure: aliceblue;
$ternary: #58a6ff;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  a {
    text-decoration: none;
  }
  .container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
    .title {
      text-align: center;
      padding: 2rem 0 3rem 0;
    }
  }
  header {
    background-color: #f6f9fc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1rem 0;
    .logo {
      color: $ternary;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form {
    max-width: 30rem;
    border: 2px solid #e4e0e0;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 4rem;
    border-radius: 7px;
    h2 {
      color: $ternary;
      font-size: 1.4rem;
      padding: 1rem 0;
    }
    .input_handle {
      display: block;
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem;
      border: 2px solid #e4e0e0;
      border-radius: 7px;
      outline: none;
    }
  }
  .success {
    text-align: center;
    margin-top: 4rem;
    h1 {
      font-size: 2.5rem;
      padding: 2rem 0;
      color: #58a6ff;
    }
    p {
      font-size: 2rem;
      font-weight: 500;
      color: $ternary;
    }
  }
  .text_error {
    color: red;
    text-align: left;
    padding-left: 0.6rem;
  }
  .home {
    text-align: center;
  }
  .list {
    background-color: #eafcf1;
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 30rem;
    margin-bottom: 0.7rem;
    border-radius: 7px;
    border: 2px solid #e4e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_header {
      text-align: center;
      color: #58a6ff;
      padding: 1rem 0;
    }
    h3 {
      color: $secondary;
      padding-bottom: 0.5rem;
    }
    p {
      color: #3184e4;
    }
  }
  .article {
    margin: 0 auto;
    max-width: 30rem;
    background-color: #eafcf1;
    border: 2px solid $secondary;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 7px;
    h2 {
      color: $ternary;
      text-align: center;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.4rem;
      padding: 0.3rem 0;
    }
    .buttons {
      margin-top: 2rem;
      text-align: center;
    }
  }
  .content {
    h2 {
      padding: 0.5rem 0;
      color: #58a6ff;
    }
    hr {
      border: none;
      border-top: 2px solid #f8f6f6;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.4rem;
      color: grey;
      padding: 0.1rem 0;
    }
    button {
      margin: 0.5rem 0.5rem 1rem 0;
    }
  }
  .center {
    text-align: center;
    padding: 2rem;
  }
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  margin-right: 1rem;
  border-radius: 7px;
  font-size: 1.2rem;
  &_primary {
    background-color: $secondary;
    color: $pure;
  }
  &_sub {
    background-color: $ternary;
    color: $pure;
    margin-top: 0.5rem;
  }
  &_like {
    background-color: $ternary;
    color: aliceblue;
  }
  &_sec {
    background-color: $secondary;
    color: aliceblue;
  }
  &_ter {
    background-color: red;
    color: aliceblue;
  }
}
