*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #f3f6f7;
$secondary: #1f1e1f;
$white: white;
$ternary: #d78ce0;
$blue: rgb(9, 109, 220);

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary;
  .flex {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
  }
  header {
    background-color: $white;
    border-bottom: 1px sold #e7e5e5;
    .logo {
      color: $blue;
    }
  }
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  .btn {
    padding: 0.7rem 1.4rem;
  }
  .active {
    border-bottom: 0.15rem solid $ternary;
    font-weight: 700;
  }
  img {
    width: 100%;
  }
  .hero_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    img {
      height: 25rem;
    }
    h1 {
      color: $blue;
      font-size: 4rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
  .footer {
    text-align: center;
    padding: 2rem 0;
    small {
      color: grey;
    }
  }
  .form {
    max-width: 30rem;
    margin: 4rem auto;
    background-color: $white;
    border: 1px solid #e6e3e3;
    padding: 2rem;

    text-align: center;
    border-radius: 6px;
    .input_handle {
      width: 100%;
      display: block;
      padding: 0.7rem 1rem;
      margin-bottom: 1rem;
      border-radius: 7px;
      border: 1px solid grey;
      color: #5f5a5a;
    }
    h2 {
      text-align: center;
      color: $secondary;
      padding-bottom: 2rem;
    }
    input[type='radio'] {
      margin-top: 0.5rem;
    }
    label {
      padding-right: 0.5rem;
    }
  }
  .center {
    text-align: center;
  }
  .btn_sub {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: 1px solid #c2bfbf;
  }
  .btn_sub:hover {
    background-color: #e7e3e3;
  }
  .text_error {
    color: red;
    text-align: left;
    padding-bottom: 0.5rem;
  }
}
